*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    min-height: 100vh;
    justify-content: space-between;
    background-color: #E1D4C9;
}

.container {
    border: 2px dashed fuchsia;
    max-width: 1024px;
    margin: 0 auto;
    border-radius: 40px;
    display: flex;
    justify-content: center;
}

.header {
    border: 2px solid red;
}

.header-menu {
    display: flex;
    justify-content: space-around;
}

.nav-list {
    display: flex;
    list-style: none;
}

.menu-item {
    padding: 0 20px;
}
.header-actions {
    display: flex;
    padding: 0 20px;
}



.main {
    border: 2px solid yellow;
}

.contacts {
    border: 2px solid green;
}